@model ArkSoft_MVC.Models.Customer

@{
    ViewData["Title"] = "Update Details";
}

<h1>Update Details</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="custID" />
            <div class="form-group">
                <label asp-for="custName" class="control-label"></label>
                <input asp-for="custName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="custAddress" class="control-label"></label>
                <input asp-for="custAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="custTelephone" class="control-label"></label>
                <input asp-for="custTelephone" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="custContactName" class="control-label"></label>
                <input asp-for="custContactName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="custContactEmail" class="control-label"></label>
                <input asp-for="custContactEmail" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="vatNumber" class="control-label"></label>
                <input asp-for="vatNumber" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
